{% extends '::base-email.html.twig' %}

{% block body %}
	{% set nombrePremio = premioActual is defined and premioActual ? premioActual.__toString() : 'Premio Provincial a la Calidad' %}
	{% set rangoInscripcion = premioActual is defined and premioActual ? ('del ' ~ premioActual.fechaHoraInicioInscripcion|date('d/m') ~ ' al ' ~ premioActual.fechaHoraFinInscripcion|date('d/m') ~ ' de ' ~ premioActual.fechaHoraInicioInscripcion|date('Y')) : '' %}

<div style="
	background-image: url({{ absolute_url(asset('images/fondo-contenido-light-organizaciones.png')) }});
	background-repeat: no-repeat;
	background-position: top left;
	width: 800px;
	font-family: Arial;
	font-size: 16px;
">
	<div style="font-size: 1.5em; padding-left: 2em; padding-right: 9.7em; padding-top: 6.5em; display: block; font-weight: bold;">
		{{ organizacion.nombre }}
	</div>
	<div style="font-size: 1.2em; padding-left: 2.2em; padding-right: 9.7em; padding-top: 6em; padding-bottom: 1em;">
		Nos complace confirmar que hemos recibido su solicitud de inscripción para participar
		del <strong>{{ nombrePremio }}</strong>, con los siguientes datos:

		<ul>
			<li><strong>Sector:</strong> {{ organizacion.type == constant('TYPE_PUBLICA', organizacion) ? 'Público' : 'Privado' }}.</li>
		{% if organizacion.type == constant('TYPE_PRIVADA', organizacion) %}
			<li><strong>Tipo:</strong> {{ organizacion.tipoStr }}.</li>
		{% endif %}
			<li><strong>Categoría:</strong> {{ organizacion.categoria.nombre }}. </li>
		</ul>

		A la brevedad nos estaremos contactando con Uds. a fin de comunicarles la fecha de Capacitación y Entrevista con el Comité de Admisión.<br><br>

		<span style="font-weight: bold; text-decoration: underline;">Recordatorio:</span><br>
		Las Organizaciones inscriptas para participar del {{ nombrePremio }} deberán presentar “La Carta de Presentación/Intención” en la oficina de la Autoridad de Aplicación, dentro de las próximas 72  horas una vez finalizada la inscripción,  firmada por la máxima autoridad o representante de la Organización.<br><br>

		La misma es una nota de no más de 5 páginas en tipografía de no menos de 11 puntos e interlineado simple, que contenga una descripción básica de la Organización. Deberán enviar una copia de la misma por mail premiocalidad@chaco.gov.ar<br><br>

		Requisitos mínimos a detallar:
		<ul>
			<li>Breve descripción de la historia de la Organización con especial foco en los mayores hitos e influencias que han contribuido a su evolución y a sus políticas.</li>
			<li>Misión y visión.</li>
			<li>Razones por las cuales quiere presentarse al Premio.</li>
			<li>Productos y / o servicios que provee. Descripción general del actuar de la Organización.</li>
			<li>Tamaño y localización de la Organización.</li>
			<li>Las tecnologías, equipos e instalaciones empleadas de mayor trascendencia.</li>
			<li>Si la Organización es una división de una mayor, describir como es la relación con ella y que apoyo o soportes claves le suministra.</li>
		</ul>
	</div>
</div>
{% endblock %}