{% set esPdf = esPdf is defined ? esPdf: false %}
<div class="list">
    {% for organizacionPublica in organizacionPublicas %}
    <div class="row list-row">
        {% if esPdf %}
        <div class="col-sm-1 text-right">
            {{ loop.index }}
        </div>
        {% endif %}
        <div class="{% if esPdf %} col-sm-11{% else %} col-sm-9{%endif%}">
            <label>{{ organizacionPublica.nombre|upper }}</label> [{{ organizacionPublica.jurisdiccion.nombre }}][estado: <strong>{{ organizacionPublica.estado }}</strong>]<br>
            <u>Dirección</u>: {{ organizacionPublica.localizaciones[0] }}<br>
            <u>Responsable de la Organización</u>: {{ organizacionPublica.responsableOrganizacionApellido }}, {{ organizacionPublica.responsableOrganizacionNombre }}<br>
            <u>Responsable Frente al Premio</u>: {{ organizacionPublica.responsableEnPremioApellido }}, {{ organizacionPublica.responsableEnPremioNombre }} ({{ organizacionPublica.responsableEnPremioContacto.email}})<br>
            <em>
                (Inscripción: {{ organizacionPublica.createdAt|date('d/m/Y') }} - {{ organizacionPublica.createdAt|date('H:i') }} hs.)
            </em>
        </div>
        {% if not esPdf %}
        <div class="col-sm-3 text-right">
            <ul class="list-inline remove-margin-bottom">
                <li>
                    <a class="btn btn-default" href="{{ path('organizacionpublica_show', { 'id': organizacionPublica.id }) }}">
                        <i class="fa fa-eye"></i> Ver
                    </a>
                </li>
                <li>
                    <a class="btn btn-default" href="{{ path('organizacionpublica_edit', { 'id': organizacionPublica.id }) }}">
                        <i class="fa fa-pencil"></i> Editar
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}  
    </div>
    {% endfor %}
</div>
