<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs-inline-block" href="#">
        <img src="{{ asset('images/logo-premio-movil.png') }}" class="logo-movil">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Inicio</a></li>
        {#<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>#}
      </ul>
      {# <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> #}
      <ul class="nav navbar-nav navbar-right">
        {% if app.user %}
          {% if is_granted('ROLE_ADMIN') %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs"></i> Administración <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('adminpremio_index') }}">Adm. Premio</a></li>
                {# <li role="separator" class="divider"></li>
                <li><a href="{{ path('evaluador_index') }}">Evaluadores</a></li>
                <li><a href="{{ path('organizacionpublica_index') }}">Inscripción de Organizaciones Públicas</a></li>
                <li><a href="{{ path('organizacionprivada_index') }}">Inscripción de Empresas Privadas</a></li> #}
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('admin_premio_index') }}">Premios</a></li>
                <li><a href="{{ path('evaluador_index') }}">Evaluadores</a></li>
                <li><a href="{{ path('admin_formularioevaluacion_index') }}">Formularios de Evaluación</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('admin_titulouniversitario_index') }}">Títulos Universitarios</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('admin_localidad_index') }}">Localidades</a></li>
                <li><a href="{{ path('admin_provincia_index') }}">Provincias</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('admin_idioma_index') }}">Idiomas</a></li>
              </ul>
            </li>    
          {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i>
              {% if is_granted('ROLE_EVALUADOR') and app.user.evaluador %}
                {{  app.user.evaluador.apellido }}, {{  app.user.evaluador.nombre }}
              {% else %}
                {{ app.user.username }}
              {% endif %}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
              {% if is_granted('ROLE_EVALUADOR') and app.user.evaluador %}
                  <li><a href="{{ path('evaluador_panel') }}">Panel</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{{ path ('evaluador_show', { 'id': app.user.evaluador.id }) }}">Mis Datos</a></li>
              {% endif %}
                <li><a href="{{ path('fos_user_profile_show') }}">Perfil</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Salir</a></li>
              </ul>
            </li>
        {% else %}
          <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"></i> Entrar</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
