{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title main-title">
                <div class="row">
                    <div class="col-sm-10">
                        Premio - Listado
                    </div>
                    <div class="col-sm-2 text-right">
                        <button type="button" class="btn btn-default btn-sm pull-right" data-toggle="collapse" href="#filters" aria-expanded="false" aria-controls="filters">
                          <i class="fa fa-filter"></i> Filtros
                        </button>
                    </div>
                </div>
            </h3>
        </div>
        <div class="panel-body">
            {% set haserrors = hasErrors(filterForm) %}
            {% if not haserrors and filterForm is filtered %}
                <div class="alert alert-info">
                    <i class="fa fa-filter"></i> <strong>Filtros aplicados</strong>
                    {{ renderAppliedFilters(filterForm) }}
                </div>
            {% endif %}

            <div class="row collapse{% if haserrors %} in{% endif %}" id="filters">
                <div class="col-sm-12">
                {{ form_start(filterForm, { 'action': path('admin_premio_index'), 'attr': { 'class': 'well'}}) }}
                    {{ form_widget(filterForm) }}
                    <ul class="list-inline text-right remove-margin-bottom">
                        <li>
                            <button class="btn btn-primary" name="filter" type="submit" value="search">
                                <i class="fa fa-search"></i> Buscar
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-default" name="filter" type="submit" value="clear">
                                <i class="fa fa-trash"></i> Limpiar
                            </button>
                        </li>
                    </ul>
                {{ form_end(filterForm) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Anio</th>
                                <th>Inicio Concurso</th>
                                <th>Fin Concurso</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for premio in premios %}
                            <tr>                                                        
                                <td>{{ premio.nombre }}</td>
                                <td>{{ premio.anio }}</td>
                                <td>{% if premio.fechaHoraInicioConcurso %}{{ premio.fechaHoraInicioConcurso|date('d/m/Y - H:i') }}{% endif %}</td>                                                        
                                <td>{% if premio.fechaHoraFinConcurso %}{{ premio.fechaHoraFinConcurso|date('d/m/Y - H:i') }}{% endif %}</td>
                                <td class="text-center">
                                    <ul class="list-inline remove-margin-bottom">
                                        <li>
                                            <a class="btn btn-default" href="{{ path('admin_premio_show', { 'id': premio.id }) }}">
                                                <i class="fa fa-eye"></i> Ver
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-default" href="{{ path('admin_premio_edit', { 'id': premio.id }) }}">
                                                <i class="fa fa-pencil"></i> Editar
                                            </a>
                                        </li>
                                    </ul>
                                </td>                            
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <strong>{{ premios.totalItemCount }}</strong>
                    Resultado{{ premios.totalItemCount != 1 ? 's': '' }}.&nbsp;&nbsp;&nbsp;Página: {{ premios.paginationData.current }} de {{ premios.pageCount }}
                    <div class="navigation">
                    {{ knp_pagination_render(premios) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-inline">
        <li>
            <a class="btn btn-primary" href="{{ path('admin_premio_new') }}"><i class="fa fa-plus"></i> Nuevo</a>
        </li>
    </ul></div>
{% endblock %}
