{% set esPdf = esPdf is defined ? esPdf: false %}
<div class="list">
    {% for oPPublica in organizacionPremioPublicas %}
    <div class="row list-row">
        {% if esPdf %}
        <div class="col-sm-1 text-right">
            {{ loop.index }}
        </div>
        {% endif %}
        <div class="{% if esPdf %} col-sm-11{% else %} col-sm-9{%endif%}">
            <label>{{ oPPublica.nombre|upper }}</label> [{{ oPPublica.jurisdiccion.nombre }}][estado: <strong>{{ oPPublica.estado }}</strong>]<br>
            <u>Dirección</u>: {{ oPPublica.localizaciones[0] }}<br>
            <u>Responsable de la Organización</u>: {{ oPPublica.responsableOrganizacionApellido }}, {{ oPPublica.responsableOrganizacionNombre }}<br>
            <u>Responsable Frente al Premio</u>: {{ oPPublica.responsableEnPremioApellido }}, {{ oPPublica.responsableEnPremioNombre }} ({{ oPPublica.responsableEnPremioContacto.email}})<br>
            <em>
                (Inscripción: {{ oPPublica.createdAt|date('d/m/Y') }} - {{ oPPublica.createdAt|date('H:i') }} hs.)
            </em>
        </div>
        {% if not esPdf %}
        <div class="col-sm-3 text-right">
            <ul class="list-inline remove-margin-bottom">
                <li>
                    <a class="btn btn-default" href="{{ path('adminpremio_organizacionpublica_show', { 'id': oPPublica.id }) }}">
                        <i class="fa fa-eye"></i> Ver
                    </a>
                </li>
                <li>
                    <a class="btn btn-default" href="{{ path('adminpremio_organizacionpublica_edit', { 'id': oPPublica.id }) }}">
                        <i class="fa fa-pencil"></i> Editar
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
